<h1>Add User Data</h1>
<div class="container">
  <form [formGroup]="userForm" (ngSubmit)="getUserFormData(userForm.value)">
    <div class="mb-3">
      <label for="exampleInputName" class="form-label">Name </label>
      <input
        type="text"
        class="form-control"
        id="exampleInputName"
        formControlName="name"
        required
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="email"
        required
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        id="exampleInputPassword1"
        required
      />
    </div>

    <!-- div for gender radio button -->
    <div class="mb-3">
      <label for="gender">Gender </label><br />
      <input
        type="radio"
        value="male"
        id="gender"
        name="gender"
        formControlName="gender"
      />
      Male <br />
      <input
        type="radio"
        value="female"
        id="gender"
        name="gender"
        formControlName="gender"
      />
      Female
    </div>
    <div class="mb-3">
      <label for="lang">Select the languages</label>
      <select
        class="form-control"
        formControlName="language"
        id="lang"
        required
      >
        <option value="">Please select a language</option>
        <option *ngFor="let lang of langs" [ngValue]="lang">
          {{ lang }}
        </option>
      </select>
    </div>
    <!-- check box -->
    <div class="mb-3">
      <label for="isMarried">
        <input
          type="checkbox"
          id="isMarried"
          name="isMarried"
          formControlName="isMarried"
        />Married
      </label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">
      Submit
    </button>
  </form>
</div>
